<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../design/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../design/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <title>AUMA - Aromas</title>
</head>

<body>
    <header class="header">
        <div class="header-sup">
            <img class="header-logo" src="../design/logoCuadr_SinFondop.png" alt="Logo">
            <input type="text" class="input-search" placeholder="¿Qué estás buscando?">
            <div class="header-icons">
                <div class="account-menu">
                    <button class="icon-button">
                        <span class="material-symbols-outlined">
                            person
                        </span>
                        <span class="material-symbols-outlined arrow">
                            expand_more
                        </span>
                    </button>

                    <div class="dropdown-menu">
                        <a href="./login.html">Iniciar sesión</a>
                        <a href="./register.html">Crear cuenta</a>
                    </div>
                </div>

                <a href="./productCart.html" class="icon-link">
                    <span class="material-symbols-outlined">
                        shopping_cart
                    </span>
                </a>
            </div>
        </div>
        <div class="header-inf">
            <nav class="header-nav  nav">
                <a href="../index.html">Home</a>
                <a href="./products/productsVelas.html">Velas</a>
                <a href="./products/productsAromat.html">Aromatizantes</a>
                <a href="./products/productsDifusores.html">Difusores</a>
                <a href="./products/productsKits.html">Kits</a>
                <a href="./aboutUs.html">Sobre Nosotros</a>
                <a class="active" href="#">Contacto</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="section">
            <h1>contacto</h1>
        </div>
    </main>

    <footer class="footer">
        <img class="footer-logo" src="../design/logoCuadr_SinFondop.png" alt="Logo">
        <h2>Suscribete A Nuestras Novedades</h2>
        <div class="suscripcion-container">
            <input type="text" class="input-suscripcion" placeholder="correo@gmail.com">
            <button class="btn-enviar">
                <span class="material-symbols-outlined">chevron_right</span>
            </button>
        </div>
        <div class="footer-sup">
            <nav class="col">
                <h3>PRODUCTOS</h3>
                <a href="#">Velas Aromáticas</a>
                <a href="#">Difusores</a>
                <a href="#">Aromatizantes</a>
                <a href="#">Kits</a>
                <a href="#">Productos Destacados</a>
            </nav>
            <nav class="col">
                <h3>LEGALES</h3>
                <a href="#">Términos y Condiciones</a>
                <a href="#">Política de Privacidad</a>
                <a href="#">Política de Cambios</a>
                <a href="#">Política de Envíos</a>
                <a href="#">Defensa del Consumidor</a>
            </nav>
            <nav class="col">
                <h3>REDES SOCIALES</h3>
                <a href="#"><span class="material-symbols-outlined">photo_camera</span>Instagram</a>
                <a href="#"><span class="material-symbols-outlined">thumb_up</span>Facebook</a>
                <a href="#"><span class="material-symbols-outlined">smart_display</span>TikTok</a>
                <a href="#"><span class="material-symbols-outlined">favorite</span>Pinterest</a>
                <a href="#"><span class="material-symbols-outlined">chat</span>WhatsApp</a>
            </nav>
            <nav class="col">
                <h3>CONTACTO</h3>
                <a href="mailto:hola@auma.com"><span class="material-symbols-outlined">mail</span>hola@auma.com</a>
                <a href="#"><span class="material-symbols-outlined">call</span>
                    +54 9 11 0000 0000</a>
                <a href="#"><span class="material-symbols-outlined">location_on</span>
            Tierra del Fuego AeIAS, Argentina</a>
                <a href="#"><span class="material-symbols-outlined">support_agent</span>Soporte</a>
                <a href="#"><span class="material-symbols-outlined">help</span>
            Preguntas Frecuentes</a>
            </nav>

            <nav class="col">
                <h3>AUMA</h3>
                <a href="#">Sobre Nosotros</a>
                <a href="#">Nuestros Aromas</a>
                <a href="#">Blog</a>
                <a href="#">Guía de Velas</a>
                <a href="#">Newsletter</a>
            </nav>
        </div>
        <p>Copyright © 2026 - Gabycrem</p>
    </footer>
</body>

</html>